<% @book.each do |books| %>

<div>
<h3><%=@user.name %></h3>
<%= image_tag('sample-author1.jpg') %>
</div>
<% if @users.id == current_user.id %>
<p><%=link_to "Profile Edit", edit_user_path(@user) %></p>
<% end %>

<div>
  <p>
  Title:<%= books.title %>
  </p>
  <p>
  Opinion:<%= books.opinion %>
  </p>
  <p>
    name: <%= books.user.name %>
  </p>
</div>
<%=link_to books_path(books.id) do %>
<% end %>
<% end %>
