  <center>
    <% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>


            

    <h2 class="mt-3">Edit book</h2>
      <%= form_with model: @book, local:true do |f| %>
      <h6>Title</h6>
      <%= f.text_field :title %>

      <h6>Opinion</h6>
      <%= f.text_area :opinion %>
      <%= f.submit 'Update Book', class: 'btn btn-success' %>
      <% end %>
    </div>

  	<%=link_to "Show", book_path(@book.id) %>
  		<a class="back" href="/books">Back</a>
  </div>
</div>
      </div></main>


      </center>

